.section_advantages{
    background-color: #fcfcfc;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.advantagesSubtitle{
    margin: 0.5rem 0;
}
.advantages-item{
    box-shadow: 1px 1.732px 7.68px 0.32px rgba(21, 19, 16, 0.03);
    margin: 1rem 0;
    padding: 2rem;
}
.advantages-item:hover{
    box-shadow: 1.5px 2.598px 11.28px 0.72px rgba(158, 109, 54, 0.2);
}

.advantages-item img{
    width: 100%;
    max-width: 100px;
    object-fit: contain;
}

.advantages-item svg,
.advantages-item img{
    padding: 12px;
    box-shadow: 1px 1.732px 7.68px 0.32px rgba(21, 19, 16, 0.03);
    transition: all 0.3s ease-out 0.1s;
}
.advantages-item:hover svg,
.advantages-item:hover img{
    box-shadow: 1.5px 2.598px 11.28px 0.72px rgba(158, 109, 54, 0.2);
    transform: scaleX(-1);
}